<div class="disply-container">
    
<div class="container allExams">
    <!-- <div class="row">
        <div class="col-md-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="javascript:void(0)" routerLink="">Home</a></li>
                  <li class="breadcrumb-item active" aria-current="page"><span>title</span></li>
                </ol>
              </nav>
              <hr>
        </div>
    </div> -->
    <div class="row topRow">
        <div class="col-lg-12">
            <h2>Subjects:-</h2>
            <hr style="border: 2px solid black;">
            <div class="row">
                <ng-container *ngFor="let subject of subjects">
                <div class="col-lg-3 col-md-4 col-sm-6" style="width: 300px;">
                    <div class="card" (click)="selectCourse(subject.id,subject.name)">
                        <!-- <div class="imageDiv mt-2">
                            <img src="" alt="">img
                        </div> -->
                        <h5 class="text-center">{{subject.name | uppercase}}</h5>
                        <!-- <p>{{subject.description}}</p> -->
                    </div>
                </div>
            </ng-container>
                <!-- <div class="col-md-4">
                    <div class="card">
                        <div class="imageDiv mt-2">
                            <img src="assets/Exams/jEEmain.png" alt="">
                        </div>
                        <h5 class="text-center">JEE(Adv)</h5>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="imageDiv mt-2">
                            <img src="assets/Exams/jEEmain.png" alt="">
                        </div>
                        <h5 class="text-center">JEE(Adv)</h5>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="imageDiv mt-2">
                            <img src="assets/Exams/jEEmain.png" alt="">
                        </div>
                        <h5 class="text-center">JEE(Adv)</h5>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="imageDiv mt-2">
                            <img src="assets/Exams/jEEmain.png" alt="">
                        </div>
                        <h5 class="text-center">JEE(Adv)</h5>
                    </div>
                </div> -->
            </div>
        </div>
        <!-- <div class="col-lg-4  latestJobs">
            <div class="card latestJobCard">
                <h2 class="text-center">Latest Updates
                </h2>
                <div class="scrollSection" #theElementYouWantToCheck>
                <p >Updates not found</p>
                    *ngIf="announcements?.length == 0" class="noExamsFound text-center"
                <ul>
                    <ng-container >
                        *ngFor="let announcement of announcements; let i = index"
                        <li> 
                            <div>
                                <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                            </div> 
                            <div>
                                <a (click)="selectExam()" routerLink="">text
                            <br> 
                            <span *ngIf="announcement?.last_date">(Last Date: {{announcement?.last_date | date: 'dd/MM/yyyy'}})</span> </a>
                            </div>
                        </li>
                    </ng-container>
                </ul>
                <div *ngIf="checkOverflow(theElementYouWantToCheck)">
                <section *ngIf="announcements?.length > 0" class="blogPageFold3 pb-5 mt-4 pt-2">
                    <div class="container text-center">
                        <nav aria-label="navigation">
                            <ul *ngIf="announcements" class="pagination justify-content-center">
                                <li [ngClass]="{disabled:currentPage == 1 }" class="page-item disabled">
                                    <button (click)="goToPage(1)" class="page-link btn btn-link">First</button>
                                </li>
                                <li [ngClass]="{disabled:currentPage == 1 }" class="page-item previous-item">
                                    <button (click)="goToPage(currentPage - 1)" class="page-link btn"><<</button>
                                </li>
          
                                <li [ngClass]="{disabled:currentPage == max_page || max_page == 1 }" class="page-item next-item">
                                    <button (click)="goToPage(currentPage - (-1))" class="page-link btn">>></button>
                                </li>
                                <li [ngClass]="{disabled:currentPage == max_page || max_page == 1}" class="page-item last-item">
                                    <button (click)="goToPage(max_page)" class="page-link btn btn-link">Last</button>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </section>
            </div>
            </div>
            </div>
        </div> -->
    </div>
</div>
</div>